.aa-DetachedOverlay
    {
        height: 100%;
        width: 100%;
        background-color: #212529;
        /* zindex on top of everything else */
        z-index: 9999999;
        
        backdrop-filter: blur(1px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

       
    }
    .aa-Form .aa-Input{
        color: #212529;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.5;
        outline: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    }

    .aa-DetachedContainer--modal .aa-DetachedFormContainer .aa-Form{
        height: 60px;
        width: 100%;
        border-radius: 20px;

    }
    .aa-DetachedContainer--modal {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .aa-ItemContent {
        font-size: 26px;
       
    }
    .aa-Item .aa-ItemContent .aa-ItemTitle {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #d444b7;
    }
    .aa-Item .aa-ItemContent .aa-ItemDescription{
        font-size: 1rem;
        margin-top: 1rem;
        color : #e4f6d4;
        line-height: 1.6  ;
    }
    mark {
        background-color: #f8f9fa;
        color: #db2f2f;
        font-size: 1rem;
    }
    .aa-Item .aa-ItemContent{
        border: 4px solid #3863b7;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;

    }
