.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:
     white;
  border-bottom-width: 1px;
  border-bottom-color: rgb(197, 195, 195);
  border-bottom-style: solid;
  z-index: 99;
}

.menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
  animation-play-state: running;
  animation-timing-function: ease;
}
.logo {
  height: 54px;
  /* decrease the right margin by 50% */
  margin: 0;
  padding-left: 10px;
  background-color: none;
}

/* Middle */
.middle-section {
  flex: 1;
  display: flex;
  justify-content: center;
  /* margin-left: 70px;
  margin-right: 35px; */
  max-width: 500px;
  /* align-items: center; */
}


.search-bar {
 width: 5%;
 top: 10px;
}
.upload {
  height: 26px;
}

.apps {
  height: 26px;
}
.my-channel {
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
}
.notification-icon {
  height: 24px;
}


/* style the menu-btn to be bigger */
.menu-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: #212529;
  cursor: pointer;
  transition: all 0.5s ease;
  /*  */
  /* add bottom left margin */
  margin-left: 1rem;
  margin-bottom: 3.5rem;


  transform: translate(-100%, 75%);
}



.menu-icon {
  margin-left: 40px;
  /* margin-right: 20px; */
  /* increase the size */
  font-size: 1.8em;

}

