 .icon {
  width: 40px;
  height: 40px;
  line-height: 80px;
  font-size: 30px;
  color: #131212;
  text-align: center;
  position: absolute;
  top: 0;
  right: 30px;
  cursor: pointer;
  z-index: 100;
  
}
.icon:before {
  content: "\f002";
  font-family: fontAwesome;
}
#autocomplete.active .icon:before {
  content: "\f00d";
  font-family: fontAwesome;
}

#autocomplete {

  position: absolute;
  top: 0;
  right: 0;
  left:0;
  bottom:0;
  width: 100%;
  height: 100%;
  /* background dark*/
  /* background: #15182a; */
  transition: 0.5s;
  /* display: none; */
 margin: 0 auto;
 padding: 0 auto;
 z-index:100;
}


#autocomplete.active {
  width: 100%;
  height: 100%;
  background: #15182a;
  transition: 0.5s;
 
  /* display: block; */
}

.aa-Autocomplete {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  /* font family bold mac */
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica";
    /* height: -5px; */
  transform: translate(-50%, -50%);
  display: none;
}
